*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0b0f19;
    color:white;
}

header{
    text-align:center;
    padding:100px 20px;
}

h1{
    font-size:60px;
    color:#00d4ff;
}

p{
    font-size:22px;
    margin:20px 0;
}

small{
    color:#bbb;
    font-size:16px;
}

a{
    display:inline-block;
    margin:10px;
    padding:12px 24px;
    background:#00d4ff;
    color:#000;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#00d4ff;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:16px;
}

.menu a:hover{
    color:#00d4ff;
}
